@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Shade&display=swap');

body {
    font-family     : 'Bree Serif', serif;
    background-color: #F7D983;
    color           : #292216;
}

h1 {
    font-family: 'Bungee Shade', sans-serif;
    font-size  : 3em;
}

header {
    width         : 90vw;
    margin        : 2em auto;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

main {
    width         : 90vw;
    margin        : 1em auto;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

#weapon-choices {
    text-align: center;
}

#weapon-choices p {
    font-size: 1.2em;
    padding  : 1em;
}

#weapon-choices button.button-inactive {
    background-color: #a2a2a2;
    color           : #c2c2c2;
    opacity         : 0.5;
}

#weapon-choices button.button-inactive:hover {
    cursor: default;
}

#weapon-choices button:hover {
    border: 5px solid #B5A882;
    cursor: pointer;
}

#weapon-choices button {
    border-radius   : 50%;
    height          : 5em;
    width           : 6em;
    color           : #f9f9f9;
    background-color: #292216;
    font-family     : 'Bree Serif', serif;
    font-size       : 1.4em;
    border          : 0;
    margin          : 0 0.2em;
}

#current-round {
    display: grid;
    grid-template-columns: 1fr 40vw 1fr;
    justify-items: center;
    align-items: center;
    margin: 1em 0;
    font-size: 2em;
    text-align: center;
}

#current-round span {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 4em;
}

#game-result {
    text-align: center;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 3em;
    margin-top: 1em;
}

#game-result button {
    font-family: 'Bree Serif', serif;
    margin: 1em;
    color: #F7D983;
    background-color: #292216;
    border: 0;
    padding: 0.5em 1em;
}

#game-result button:hover {
    cursor: pointer;
    border: 2px solid #B5A882;
}